.notifier-container {
  position: fixed;
  top: 15px;
  left: calc(50% - 100px);
}

.notifier-box {
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d1d1d1;
  text-align: center;
  line-height: 40px;
}
